// ======= //
// GENERAL //
// ======= //

@import 'libs/slick';
@import 'libs/featherlight';

*{
  font-family: 'Lato', sans-serif
}
.nmp{
  padding: 0!important;
  margin: 0!important;
}
h2{
  font-family: 'Droid Serif', serif!important;
  color: #333c4a;
  font-size: 42px;
  font-weight: 700;
  line-height: 0;
  margin-bottom: 20px;
  display: table;
}
h3{
  font-family: 'Droid Serif', serif!important;
  font-size: 40px;
  font-weight: 700;
  line-height: 43px;
  text-transform: uppercase;
}

section{
  margin-top: 40px;
}

nav{
  height: 70px;
  width: 100%;
  position: fixed;
  background: #fff;
  z-index: 9999;
  top: 0;
  .logo{
    margin-top: 16px;
    display: table;
  }
  ul.list-inline{
    margin-top: 24px;
    li{
      margin-right: 4%;
      a{
        color: #a3a3a3;
        font-size: 16px;
        font-weight: 400;
        line-height: 0;
        cursor: pointer;
      }
    }
    li:last-child{
      margin-right: 0;
    }
  }
  .make-budget{
    color: #212730;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #212730;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
    margin-top: 16px;
    line-height: 14px;
    text-align: center;
    display: table;
    text-decoration: none;
    transition: all .3s;
    &:hover{
      background-color: #212730;
      color: #fff;
    }
  }
  span{
    font-size: 16px;
    line-height: 0;
    margin-top: 24px;
    color: #a3a3a3;
    display: block;
    i{
      color: #212730;
      margin-right: 7px;
    }
  }
  .navbar-toggle{
    margin: 0;
    padding: 0;
    .icon-bar{
      width: 32px;
      border: solid 2px #333c4a;
    }
  }
  .navbar-header{
    height: 70px;
  }
  #bar1{
    background-color: white;
    border-top: 2px solid #333c4a;
    ul{
      margin: 0;
      li{
        padding: 13px 0;
        border-bottom: 1px dashed #cdcdcd;
        a{
          color: #666;
          font-size: 16px;
          font-weight: 400;
          line-height: 0;
        }
        &:hover{
          background-color: #f7faff;
        }
      }
    }
  }
}

.banner-container{
  margin-top: 70px;
  height: 645px;
  &::before {
    content: '';
    position: absolute;
    top: 645px;
    left: 0px;
    width: 101%;
    height: 104px;
    background: white;
    transform: rotate(-2deg);
    z-index: 9;
  }
  .item{
    width: 100%;
    background-size: cover;
    z-index: 8;
    height: 645px;
    top: 0;
    .banner-content{
      z-index: 10;
      padding-top: 227px;
      h3{
        font-size: 40px;
        font-weight: 700;
        line-height: 43px;
        text-transform: uppercase;
        color: #fff;
        margin-right: 40px;
      }
      p{
        color: #cdcdcd;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        display: table;
        margin-bottom: 15px;
      }
      a{
        width: 200px;
        height: 50px;
        background-color: #f43;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(204, 54, 40, 0.4);
        padding: 16px 30px;
        color: #fff;
        display: table;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        transition: all .3s;
        &:hover{
          background-color: #ff6759;
          color: #f8fceb;
        }
      }
    }
  }
  .nave {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 40;
    border-radius: 50%;
    background-color: rgba(102, 102, 102, 0.6);
    i {
      font-size: 26px;
      color: white;
    }
    &.prev {
      left: 20px;
    }
    &.next {
      right: 20px;
    }
  }
  .slick-dots{
    z-index: 9999;
    position: absolute;
    height: 50px;
    width: 100%;
    top: 600px;
    text-align: center;
    li{
      display: inline-block;
      button{
        text-indent: -20000px;
      }
      &::before{
        content: '';
        background-color: #cdcdcd;
        width: 11px;
        height: 11px;
        display: block;
        margin-right: 10px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .slick-active{
      &::before{
        background-color: #f43;
      }
    }
  }
}

.about-container{
  padding-top: 70px;
  background: url('../img/bg-about.png') center top no-repeat;
  min-height: 579px;
  width: 100%;
  p{
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  h3{
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 0;
    margin-bottom: 10px;
    display: table;
  }
  ul{
    li{
      color: #212730;
      font-size: 16px;
      font-weight: 400;
      line-height: 33px;
      margin-right: 20px;
      i{
        color: #d8d9b8;
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        margin-right: 10px;
      }

    }
  }
}

.services-container{
  padding-top: 65px;
  background: url('../img/bg-service.jpg') center top no-repeat;
  background-size: cover;
  min-height: 514px;
  width: 100%;
  ul{
    li{
      width: 50%;
      color: #a3a3a3;
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
      float: left;
      strong{
        color: #212730;
        font-size: 16px;
        font-weight: 400;
        line-height: 33px;
      }
      span{
        margin-left: 18px;
        display: table;
      }
      i{
        color: #d8d9b8;
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        margin-right: 10px;
      }
    }
  }
}

#products{
  #product-slider{
    margin-top: 20px;
    position: relative;
    width: 100%;
    .item{
      // width: 16.66666667%;
      margin-left: 15px;
      margin-right: 15px;
      // float: left;
      // text-align: center;
      a{
        color: black;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        img{
          border: 1px dashed #666;
          border-radius: 5px;
          display: table;
          margin-bottom: 10px;
          width: 100%;

        }
      }
    }
    button{
      width: 45px;
      height: 45px;
      background-color: rgba(102, 102, 102, 0.6);
      position: absolute;
      top: 85px;
      border-radius: 25px;
      i{
        color: #fff;
        font-size: 24px;
        font-weight: 900;
        line-height: 41px;
      }
    }
    .prev{
      left: -60px;
    }
    .next{
      right: -60px;
    }
  }

  #product-slider-mobile{
    margin-top: 20px;
    position: relative;
    width: 100%;
    .item{
      // width: 16.66666667%;
      margin-left: 15px;
      margin-right: 15px;
      // float: left;
      // text-align: center;
      a{
        color: black;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        img{
          border: 1px dashed #666;
          border-radius: 5px;
          display: table;
          margin-bottom: 10px;
          width: 100%;

        }
      }
    }
    button{
      width: 24px;
      height: 24px;
      background-color: rgba(102, 102, 102, 0.6);
      position: absolute;
      top: 46px;
      border-radius: 12px;
      i{
        color: #fff;
        font-size: 20px;
        font-weight: 900;
        line-height: 24px;
      }
    }
    .prev{
      left: -26px;
    }
    .next{
      right: -26px;
    }
  }

}

.featherlight  {
  .featherlight-content {
    padding: 0px;
    padding-top: 40px;
    overflow: hidden;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
  }
  .featherlight-previous,
  .featherlight-next,
  .featherlight-close {
    color: white;
    font-size: 36px;
    width: 36px;
    height: 36px;
  }
  .featherlight-previous {
    left: 0px;
  }
  .featherlight-next {
    right: -25px;
  }
}

.features-list {
  margin-top: 30px;
  margin-left: -30px;
  margin-right: -30px;
  li {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    width: 32.3%;
    div {
      height: 60px;
      border: 1px solid #bfbfbf;
      background-color: white;
      padding-top: 16px;
    }
    i {
      color:red;
      font-size: 20px;
    }
    p {
      font-weight: 600;
      display: inline-block;
      color: black;
      font-size: 20px;
      margin-left: 5px;
    }
  }
}

#map{
  height: 400px;
}

#contatct{
  min-height: 140px;
  i{
    color: #f43;
    font-size: 23px;
    font-weight: 400;
    line-height: 26px;
    float: left;
    width: 30px;
    margin-right: 10px;
  }
  span{
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 25px;
    display: table;
  }
  a{
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}

.orcamento-container{
  padding-top: 130px;
  background: url('../img/bg-about.png') center top no-repeat;
  background-size: cover;
  height: 579px;
  width: 100%;
  #orcamento{
    h2{
      display: block;
      text-align: center;
      line-height: 35px
    }
    span{
      color: black;
      font-size: 18px;
      line-height: 0;
      display: block;
      text-align: center;
    }
    input[type="text"], input[type="email"], textarea{
      width: 98%;
      display: block;
      border: 2px solid #cdcdcd;
      padding: 8px 1%;
      color: #cdcdcd;
      font-size: 16px;
      font-weight: 300;
      line-height: 0;
      font-family: 'Lato';
      margin-top: -8px;
    }
    textarea{
      height: 122px;
      resize: none;
      padding-top: 16px;
    }
    form{
      margin-top: 40px;
    }
    input[type="submit"]{
      width: 200px;
      height: 50px;
      background-color: #f43;
      border-radius: 5px;
      box-shadow: 0 2px 2px rgba(204, 54, 40, 0.4);
      color: #f8fceb;
      font-family: 'Lato';
      font-size: 14px;
      font-weight: 700;
      line-height: 0;
      margin: 0 auto;
      text-transform: uppercase;
      display: block;
      transition: all .3s;
      &:hover{
        background-color: #ff6759;
      }
    }
    .wpcf7-not-valid-tip, .wpcf7-validation-errors{
      font-family: 'Lato';
      font-size: 12px;
      color: #f00;
      margin: 12px 0 0 10px;
      text-align: left;
      border:none!important;
      padding: 0!important;
      margin-bottom: 20px;
    }
    .div.wpcf7-mail-sent-ok{
      font-family: 'Lato';
      font-size: 12px;
      color: #398f14;
      margin: 12px 0 0 10px;
      text-align: left;
      border:none!important;
      padding: 0!important;
      margin-bottom: 20px;
    }
  }
}
