// ========= //
// BOOTSTRAP //
// ========= //

// LG
@media only screen and (min-width : 1200px) {

}

// MD
@media only screen and (min-width : 769px ) and (max-width : 1199px) {
  nav{
    ul.list-inline{
      li{
        margin-right: 2%!important;
      }
    }
    .make-budget{
      font-size: 12px;
      padding: 5px 0;
      margin-top: 10px;
    }
    span{
      margin-top: 7px;
      font-size: 14px;
      text-align: center;
    }
  }
}

// SM
@media only screen and (min-width : 769px) and (max-width : 992px) {
  nav{
    ul.list-inline{
      li{
        margin-right: 0!important;
        a{
          font-size: 13px
        }
      }
    }
    .make-budget, span{
      width: 115%;
    }
  }
}

// XS
@media only screen and (max-width : 769px) {
  h2{
    font-size: 34px;
  }
  .about-container{
    min-height: inherit;
    padding-top: 30px;
    background: none;
    h3{
      font-size: 20px;
      line-height: 30px;
    }
  }


  .services-container{
    padding-bottom: 40px;
    ul{
      li{
        width: 100%;
        margin-bottom: 10px;
        i{
          float: left;
          line-height: 22px;
        }
        strong{
          width: 92%;
          float: left;
          line-height: 22px;
        }
      }
    }
  }
  #product-slider{
    .next{
      right: -26px!important;
    }
    .prev{
      left: -26px!important;
    }
    button{
      top: 46px!important;
      width: 24px!important;
      height: 24px!important;
      border-radius: 12px!important;
      i{
        line-height: 24px!important;
        font-size: 20px!important;
      }
    }
  }
  .slick-dots{
    display: none!important;
  }

  .banner-container{
    height: 400px;
    margin-top: 70px;
    padding: 0;
    &::before{
      content: none;
    }
    .item{
      height: 400px;
      &::before{
        content: "";
        width: 100%;
        height: 100%;
        height: 400px;
        top: 0;
        left: 0;
        position: absolute;
        transform: none;
        background-color: rgba(0, 0, 0, 0.3)
      }
      .banner-content{
        padding-top: 100px;
        h3{
          font-size: 28px;
          line-height: 30px;
          text-align: left;
          margin: 0;
        }
        p{
          font-size: 16px;
          line-height: 18px;
          text-align: left;
          margin: 15px 0;
        }
        a{
          margin: 0;
        }
      }
    }
  }
  .featherlight .featherlight-image{
    width: 100%!important;
    height: auto!important;
  }
  .orcamento-container{
    margin-top: 0;
    #orcamentos{
      input[type="text"], input[type="email"], textarea{
        line-height: 20px;
      }
    }
  }
}

// ========== //
// RESPONSIVE //
// ========== //
// LARGE SMARTPHONE
@media only screen and (min-width : 480px) and (max-width : 768px) {
  h2{
    font-size: 34px;
  }
  .about-container{
    min-height: inherit;
    padding-top: 30px;
    h3{
      font-size: 20px;
      line-height: 30px;
    }
  }

  .services-container{
    padding-bottom: 40px;
    ul{
      li{
        width: 100%;
        margin-bottom: 10px;
        i{
          float: left;
          line-height: 22px;
        }
        strong{
          width: 92%;
          float: left;
          line-height: 22px;
        }
      }
    }
  }
  #product-slider{
    .next{
      right: -26px!important;
    }
    .prev{
      left: -26px!important;
    }
    button{
      top: 46px!important;
      width: 24px!important;
      height: 24px!important;
      border-radius: 12px!important;
      i{
        line-height: 24px!important;
        font-size: 20px!important;
      }
    }
  }
  .slick-dots{
    display: none!important;
  }

  .banner-container{
    height: 400px;
    margin-top: 70px;
    padding: 0;
    &::before{
      content: none;
    }
    .item{
      height: 400px;
      &::before{
        content: "";
        width: 100%;
        height: 100%;
        height: 400px;
        top: 0;
        left: 0;
        position: absolute;
        transform: none;
        background-color: rgba(0, 0, 0, 0.3)
      }
      .banner-content{
        padding-top: 100px;
        h3{
          font-size: 28px;
          line-height: 30px;
          text-align: left;
          margin: 0;
        }
        p{
          font-size: 16px;
          line-height: 18px;
          text-align: left;
          margin: 15px 0;
        }
        a{
          margin: 0;
        }
      }
    }
  }

  .featherlight .featherlight-image{
    width: 100%!important;
    height: auto!important;
  }

  .orcamento-container{
    margin-top: 0px;
    #orcamentos{
      input[type="text"], input[type="email"], textarea{
        line-height: 20px;
      }
    }
  }

}

// MEDIUM SMARTPHONE
@media only screen and (max-width : 480px) {

}

// SMALL SMARTPHONE
@media only screen and (max-width : 320px) {


}

// FIX FOR 1366x768 RESOLUTIONS
@media only screen and (min-width : 993px )and (max-width : 1366px) and (min-height : 622px) and (max-height: 768px) {

}
